
  
  
  
  h1 {
    color: white;
    background-color: black;
    text-align: left;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  span{
    padding-left: 10px;
  }
  .grid{
    display:flex;
  
  }
  .box{
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    display: grid;
    align-items: start;
    height: 300px;
    width: 400px;
    margin: 10px;
    box-shadow: 3px 3px 10px black;
    overflow: hidden;
    position:relative;
    


  }
  .box2{
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    display: grid;
    align-items: start;
    height: 400px;
    width: 1000px;
    margin: 10px;
    box-shadow: 3px 3px 10px black;
    overflow: hidden;
    position:relative;
    border-radius: 5px;
  }
  .loanButton{
    background-color:rgb(125, 210, 125) ;
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    padding-left: 10px;
    
  
  }
  .bank{
    background-color: rgb(115, 230, 230);
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    padding-left: 10px;

  }
  .work{
    background-color: rgb(62, 62, 236);
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    padding-left: 10px;

  }
  .repayLoan{
    color: yellowgreen;
    padding-left: 10px;

  }
  .header{
    padding-left: 15px;
    
  }
  .buy{
    background-color:rgb(125, 210, 125) ;
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    padding-left: 5px;

  }
  